body {
	background-color: #008080;
}

{margin: 0;}
{padding: 0;}

body 
p
{text-align:center;}
body
p 
{color: #000000; }
body
h1 {color: #000000;}
body
div h2
{color: #000000;}
body
h1
{font-family:algerian ;}
body
h2
{font-family:Cooper Black ;}